.popover {
    font-size: 14px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
    border: none;
    line-height: 1.7;
    max-width: 240px;
}

.popover.bs-popover-top .arrow:before,
.popover.bs-popover-left .arrow:before,
.popover.bs-popover-right .arrow:before,
.popover.bs-popover-bottom .arrow:before {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.popover .popover-header {
    color: rgba(182, 182, 182, 0.6);
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
    border: none;
    background-color: transparent;
}

.popover:before {
    display: none;
}

.popover.bs-tether-element-attached-top:after {
    border-bottom-color: #FFFFFF;
    top: -9px;
}

.popover.popover-primary {
    background-color: #f96332;
}

.popover.popover-primary .popover-body {
    color: #FFFFFF;
}

.popover.popover-primary.bs-popover-right .arrow:after {
    border-right-color: #f96332;
}

.popover.popover-primary.bs-popover-top .arrow:after {
    border-top-color: #f96332;
}

.popover.popover-primary.bs-popover-bottom .arrow:after {
    border-bottom-color: #f96332;
}

.popover.popover-primary.bs-popover-left .arrow:after {
    border-left-color: #f96332;
}

.popover.popover-primary .popover-header {
    color: #FFFFFF;
    opacity: .6;
}

.popover.popover-info {
    background-color: #2CA8FF;
}

.popover.popover-info .popover-body {
    color: #FFFFFF;
}

.popover.popover-info.bs-popover-right .arrow:after {
    border-right-color: #2CA8FF;
}

.popover.popover-info.bs-popover-top .arrow:after {
    border-top-color: #2CA8FF;
}

.popover.popover-info.bs-popover-bottom .arrow:after {
    border-bottom-color: #2CA8FF;
}

.popover.popover-info.bs-popover-left .arrow:after {
    border-left-color: #2CA8FF;
}

.popover.popover-info .popover-header {
    color: #FFFFFF;
    opacity: .6;
}

.popover.popover-warning {
    background-color: #FFB236;
}

.popover.popover-warning .popover-body {
    color: #FFFFFF;
}

.popover.popover-warning.bs-popover-right .arrow:after {
    border-right-color: #FFB236;
}

.popover.popover-warning.bs-popover-top .arrow:after {
    border-top-color: #FFB236;
}

.popover.popover-warning.bs-popover-bottom .arrow:after {
    border-bottom-color: #FFB236;
}

.popover.popover-warning.bs-popover-left .arrow:after {
    border-left-color: #FFB236;
}

.popover.popover-warning .popover-header {
    color: #FFFFFF;
    opacity: .6;
}

.popover.popover-danger {
    background-color: #FF3636;
}

.popover.popover-danger .popover-body {
    color: #FFFFFF;
}

.popover.popover-danger.bs-popover-right .arrow:after {
    border-right-color: #FF3636;
}

.popover.popover-danger.bs-popover-top .arrow:after {
    border-top-color: #FF3636;
}

.popover.popover-danger.bs-popover-bottom .arrow:after {
    border-bottom-color: #FF3636;
}

.popover.popover-danger.bs-popover-left .arrow:after {
    border-left-color: #FF3636;
}

.popover.popover-danger .popover-header {
    color: #FFFFFF;
    opacity: .6;
}

.popover.popover-success {
    background-color: #18ce0f;
}

.popover.popover-success .popover-body {
    color: #FFFFFF;
}

.popover.popover-success.bs-popover-right .arrow:after {
    border-right-color: #18ce0f;
}

.popover.popover-success.bs-popover-top .arrow:after {
    border-top-color: #18ce0f;
}

.popover.popover-success.bs-popover-bottom .arrow:after {
    border-bottom-color: #18ce0f;
}

.popover.popover-success.bs-popover-left .arrow:after {
    border-left-color: #18ce0f;
}

.popover.popover-success .popover-header {
    color: #FFFFFF;
    opacity: .6;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #FFFFFF;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #FFFFFF;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #FFFFFF;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #FFFFFF;
}

.tooltip-inner {
    padding: 0.5rem 0.7rem;
    min-width: 130px;
    background-color: #FFFFFF;
    font-size: 14px;
    color: inherit;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
